@use 'variables' as *;

.skills {
  padding: 4rem 0;

  &__heading {
    font-family: $font-header;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__heading-accent {
    color: $deep-azure;
  }

  &__heading-light {
    color: $frost;
  }
}
