@use 'variables' as *;

.jumbotron {
  display: flex;
  align-items: baseline;
  padding: 120px 0;

  .divider {
    animation: jumbotron-divider-expand 1.2s ease-out 0.4s forwards;
    width: 0;
  }

  &__heading-line {
    &--deep-azure {
      color: $deep-azure;
    }

    &--frost {
      color: $frost;
    }
  }
}

@keyframes jumbotron-divider-expand {
  0%   { width: 0%; }
  60%  { width: 25%; }
  72%  { width: 27%; }
  82%  { width: 25%; }
  90%  { width: 25.75%; }
  95%  { width: 25%; }
  98%  { width: 25.25%; }
  100% { width: 25%; }
}
