@use 'variables' as *;

// Home Page
.page-home {
  background-color: $obsidian;
  min-height: 100vh;

  .hero {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
  }

  .min-vh-75 {
    min-height: 75vh;
  }
}
